// ============================================================
// Theme » Border
// ============================================================

// Border radius
$border-radius-none: 0;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-pill: 200px;

// Border width
$border-width-hairline: 1px;
$border-width-thin: 2px;
