// ============================================================
// Theme » Color
// ============================================================

$transparent: transparent;

// Brand colors
$brand-color-primary-pure: #ff305c;
$brand-color-primary-dark: #7a094c;
$brand-color-primary-medium: #b71858;
$brand-color-primary-light: #ffdcd5;
$brand-color-secondary-pure: #7427f1;
$brand-color-secondary-dark: #35126e;
$brand-color-secondary-medium: #4d1aa1;
$brand-color-secondary-light: #ead3fe;

// Neutral colors
$neutral-color-low-pure: #262626;
$neutral-color-low-dark: #3f3f3f;
$neutral-color-low-medium: #525252;
$neutral-color-low-light: #6f6f6f;
$neutral-color-high-pure: #ffffff;
$neutral-color-high-dark: #bababa;
$neutral-color-high-medium: #cfcfcf;
$neutral-color-high-light: #e3e3e3;

// Feedback colors
$feedback-color-success-pure: #348535;
$feedback-color-success-dark: #112b11;
$feedback-color-success-medium: #205221;
$feedback-color-success-light: #e3fab8;
$feedback-color-info-pure: #3575d4;
$feedback-color-info-dark: #1e4278;
$feedback-color-info-medium: #28579e;
$feedback-color-info-light: #b3dafe;
$feedback-color-warning-pure: #eda81f;
$feedback-color-warning-dark: #977d48;
$feedback-color-warning-medium: #bf8208;
$feedback-color-warning-light: #ffeaa6;
$feedback-color-danger-pure: #db3939;
$feedback-color-danger-dark: #802121;
$feedback-color-danger-medium: #a62b2b;
$feedback-color-danger-light: #feb4b4;
