// ============================================================
// Theme » Opacity
// ============================================================

$opacity-level-semiopaque: 0.8;
$opacity-level-medium: 0.64;
$opacity-level-light: 0.16;
