// ============================================================
// Theme » Spacing
// ============================================================

// Spacing scale
$spacing-nano: 4px;
$spacing-xxxs: 8px;
$spacing-xxs: 12px;
$spacing-xs: 16px;
$spacing-sm: 20px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 40px;
$spacing-xxl: 62px;

// Spacing inset
$spacing-inset-quarck: 4px;
$spacing-inset-nano: 8px;
$spacing-inset-xs: 16px;
$spacing-inset-sm: 24px;
$spacing-inset-md: 32px;
$spacing-inset-lg: 40px;
