// ============================================================
// Utils » Variables
// ============================================================

// Prefix
$prefix: 'mx';

// HTML
$html-size:       16px !default;
$html-rendering:  optimizeLegibility !default;
$html-overflow-x: hidden !default;
$html-overflow-y: scroll !default;

// Breakpoint
$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;
